<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.mapper.MeetingParticipantsMapper">

    <resultMap id="BaseResultMap" type="com.meeting.domain.pojos.MeetingParticipants">
            <result property="meeting_id" column="meeting_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        meeting_id,user_id,status
    </sql>
</mapper>
